body {
  font-family: sans-serif;
  text-align: center;
  background: #f2f2f2;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  border: 2px solid #ccc;
  font-size: 2rem;
  line-height: 80px;
  cursor: pointer;
}

#restartBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#restartBtn:hover {
  background-color: #45a049;
}